:root {
    /* Primary Colors*/
    --pink: #ff52bf;

    /* Neutral Colors */
    --veryPaleCyan: #ebfbff;
    --veryDarkCyan: #00252e;
    --grayishBlue: #808d99;
    --white: #fff;

    /* font-size */
    --font-smaller: .8rem;
    --font-small: 1rem;
    --font-medium: 1.125rem;
    --font-large: 2rem;
    --font-larger: 2.3rem;

    /* Headings */
    --heading-weight: 600;

    /* Body, Call-to-actions */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: var(--font-medium);
    font-weight: var(--font-weight-regular);
    color: var(--grayishBlue);
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--veryDarkCyan);
    font-weight: var(--heading-weight);
    margin-bottom: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ******************* general layout ******************* */
.container {
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }
}

.section {
    padding: 5rem 0;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: var(--veryDarkCyan);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-regular);
    padding: .5rem 1.7rem;
    border-radius: 1.7rem;
    box-shadow: 0 4px 12px rgba(0, 36, 47, .15);
    transition: 200ms;
}

.btn-pink {
    background-color: var(--pink);
    color: var(--white);
    padding: 1rem 3rem;
}

.btn-pink:hover {
    opacity: .8;
}

/* ******************* header ********************* */
.header {
    background-image: url('/images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

@media (min-width:992px) {
    .header {
        background-image: url('/images/bg-hero-desktop.svg');
    }
}

.header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--veryPaleCyan);
    z-index: -1;
}

/* start nav  */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav .logo {
    max-width: 7em;
}

.nav .btn {
    font-size: var(--font-small);
}

.nav .btn:hover {
    color: var(--grayishBlue);
}

/* start hero  */
.hero {
    text-align: center;
    padding: 4rem 0;
}

@media (min-width:992px) {
    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero .hero__text {
        flex-basis: 50%;
        text-align: left;
        padding-right: 2rem;
    }

    .hero .hero__img {
        flex-basis: 50%;
    }
}

.hero .hero__text {
    margin-bottom: 4rem;
}

.hero .hero__title {
    font-size: var(--font-large);
}

@media (min-width:992px) {
    .hero .hero__title {
        font-size: var(--font-larger);
    }
}

.hero .hero__subtitle {
    color: var(--veryDarkCyan);
    font-size: var(--font-medium);
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* ******************* content ********************* */
.content {
    position: relative;
    padding-bottom: 12rem;
}

.card {
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 5px 12px rgba(0, 36, 47, .15);
    margin-bottom: 4rem;
}

@media (min-width:992px) {
    .card {
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem;
        align-items: center;
        text-align: left;
    }
}

.card__text {
    font-size: .9375rem;
}

@media (min-width:992px) {
    .card__text {
        font-size: var(--font-medium);
    }
}

.card .card__title {
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

.card .card__desc {
    letter-spacing: 1px;
}

.card .card__img {
    margin-bottom: 2rem;
}

@media (min-width:992px) {
    .card .card__img {
        order: 2;
    }

    .card:nth-child(2) .card__text {
        order: 2;
    }

    .card:nth-child(2) .card__img {
        order: 2;
    }

}

@media (min-width:992px) {
    .card .card__text {
        order: 1;
    }
}

/* ******************* ready ********************* */
.ready {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translate(-50%);
    width: 360px;
    background-color: var(--white);
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 36, 47, .15);
}

.ready h2 {
    font-size: var(--font-medium);
}

@media (min-width:768px) {
    .ready {
        width: 500px;
    }
}

@media (min-width:992px) {
    .ready {
        width: 700px;
    }

    .ready h2 {
        font-size: var(--font-large);
    }
}




/* ******************* footer ********************* */
.footer {
    padding: 8rem 0 4rem;
    background-color: var(--veryDarkCyan);
    color: var(--white);
    font-size: var(--font-smaller);
}

.footer a {
    color: var(--white);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 2.5rem;
}

@media (min-width:992px) {
    .footer__content {
        display: grid;
        grid-template-columns: 35% repeat(2, 1fr) 32%;
        column-gap: 3rem;
        justify-items: start;
        align-items: flex-start;
        grid-template-areas: "details links-col1 links-col2 social-copy";
    }
}



.footer__details {
    margin-bottom: 2.5rem;
    grid-column: details;
}

@media (min-width:992px) {
    .footer__details {
        margin-bottom: 0;
    }
}

.media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.media i {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}



.footer__links.col1 {
    grid-column: links-col1;
}

.footer__links.col2 {
    margin-bottom: 2.5rem;
    grid-column: links-col2;
}

.footer__links a {
    display: block;
    padding: .4rem 0;
}

.footer__links a:hover {
    text-decoration: underline;
}

.footer__copy__social {
    text-align: center;
}
@media (min-width:992px){
    .footer__copy__social{
        grid-column: social-copy;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
        text-align: left;
    }
}

.footer .social{
    margin-bottom: 1.5rem;
}
.footer .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: 300ms;
}

.footer .social a:hover {
    color: var(--pink);
}

.footer .social a:not(:last-child) {
    margin-right: .4rem;
}

.footer .copy {
    font-size: var(--font-smaller);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding:1rem 0;
  }

  .attribution a {
    color: var(--veryDarkCyan);
  }